<%= link_to "new person", new_person_path%>
<h1>Persons#show</h1>
<p>Find me in app/views/persons/show.html.erb</p>
<p>
  <strong>name:</strong>
  <%= @person.name %>
</p>
 
<p>
  <strong>dob:</strong>
  <%= @person.dob %>
</p>

<p>
  <strong>city:</strong>
  <%= @person.city %>
</p>

<p>
  <strong>role:</strong>
  <%= @person.role %>
</p>